/* Header */
.header {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixe la navbar en haut de la page */
  width: 100%; /* La navbar prend toute la largeur */
  z-index: 1000; /* Assure que la navbar est toujours au-dessus du contenu */
  top: 0; /* Positionne la navbar tout en haut */
  left: 0; /* Positionne la navbar à gauche */
  height: 50px; /* Hauteur réduite de la navbar */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px; /* Réduit l'espace entre les liens */
  align-items: center; /* Centre les éléments verticalement */
  height: 100%; /* La navbar prend toute la hauteur définie dans .header */
}

/* Navbar Links */
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem; /* Taille de texte plus petite */
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 5px 10px; /* Espacement réduit autour des liens */
}

/* Hover effect on Navbar Links */
.navbar a:hover {
  color: #afa7f5;
  border-bottom: 2px solid #afa7f5; /* Effet visuel pour le survol */
}

/* Responsive Design: For smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .navbar a {
    font-size: 1rem;
  }
}

/* Ajouter un espacement pour éviter que le contenu ne se cache sous la navbar */
body {
  padding-top: 60px; /* Ajustez cette valeur pour correspondre à la hauteur de la navbar */
}
